body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffdcf5;
    font-size: 16px;
}
.tieu_de{
    position: relative;
    color: #000000;
    text-transform: uppercase;
    width: 200px;
    left: 100px;
}

h3{
    width: 100px;
    color: #000000;
    position: relative;
    margin-left: 24%;
}

h4{
    width: 100px;
    color: #000000;
    position: relative;
    margin-left: 24%;
}

.plk{
    width: 50%;
    float: left;
}

.prk{
    width: 50%;;
    float: right;
}

.public_key{
    position: relative;
    left: 25%;
}

.private_key{
    position: relative;
    left: 25%;
}

.column_left {
    width: 50%;
    float: left;
}

.column_right{
    width: 50%;
    float: right;
}


.vertical {
    border-left: 3px solid #7c73e6;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 270px;
}

button{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    width: 100px;
}


input{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border-radius: 4px;
    text-align: center;
    
}

textarea{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border-radius: 4px;
    width: 350px;
    border: 1px solid black;

}

.tao_key{
    font-size: 16px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    position: relative;
    margin-left: 10%;
    top: 1px;
}

.nhap_ban_ro{
    position: relative;
    margin-left: 25%;
}

.nhap_ban_ma{
    position: relative;
    margin-left: 25%;
}

.file_ban_ro{
    position: relative;
    margin-left: 25%;
}

.file_ban_ma{
    position: relative;
    margin-left: 25%;
}

.maHoa{
    position: relative;
    margin-left: 40%;
    margin-top: 30px;
}

.giaiMa{
    position: relative;
    margin-left: 40%;
    margin-top: 30px;
}

.xuat_ban_ma{
    position: relative;
    margin-left: 25%;
}

.xuat_ban_ro{
    position: relative;
    margin-left: 25%;
}

.chuyen{
    position: relative;
    margin-left: 75%;
    bottom: 90px;
}

.luu_ban_ma{
    position: relative;
    margin-left: 75%;
    bottom: 70px;
}

.luu_ban_ro{
    position: relative;
    margin-left: 75%;
    bottom: 40px;
}